In [3]:
@time begin
    x = 3
    print(x)
end

3  0.000125 seconds (8 allocations: 184 bytes)

In [14]:
a = [1,2,3] # This is comment
#This is line of comment
print("This is first element of array : ", a[1])

This is first element of array : 1

In [17]:
function add_and_print(a,b)
    println("adding a = $a and b = $b")
    answer = a+b
    println("result is $(a+b)")
    return nothing
end

add_and_print (generic function with 1 method)

In [18]:
add_and_print(4,6)

adding a = 4 and b = 6
result is 10

In [19]:
function multiply_x_y(x, y)::Int8 # keyword ::Int8 is to specify the return type of this function
           return x * y
       end;

In [25]:
a = multiply_x_y(2,3)
print("Type of $a is ",typeof(a))

Type of 6 is Int8

In [29]:
i = 1
while i <= 3
    println(i)
    global i += 1
end

1
2
3

In [42]:
println("loop i = 1:5 means start = 1, step = 1, stop at 5")
for i = 1:5
    print(i," ")
end
println("end")
println("loop i = 0:2:10 means start = 0 , step = 2 , stop at 10")
for i = 0:2:10
    print(i," ")
end

loop i = 1:5 means start = 1, step = 1, stop at 5
1 2 3 4 5 end
loop i = 0:2:10 means start = 0 , step = 2 , stop at 10
0 2 4 6 8 10

In [47]:
a=[3,5,2,1,0,-1]
for i in a
    print(i," ")
end

3 5 2 1 0 -1

In [49]:
function compare_x_1(x)
    if x > 1
        println("$x is more than 1.")
    elseif x == 1
        println("$x is equal to 1.")
    else
        println("$x is less than 1.")
    end
end

compare_x_1 (generic function with 1 method)

In [50]:
compare_x_1(5)
compare_x_1(1)
compare_x_1(-5)

5 is more than 1.
1 is equal to 1.
-5 is less than 1.

In [51]:
(61.385722000002716+129.0842114000006+64.45365500000116+65.17216439999902)/5

64.01915056000071